fastapi==0.115.12
uvicorn[standard]==0.34.3
python-multipart==0.0.20
supabase==2.15.2
pydantic==2.9.0
python-dotenv==1.1.0
openai==1.82.1
yt_dlp==2025.5.22
elevenlabs==2.1.0
google-generativeai==0.8.5
fastapi-cache2==0.2.2
redis==6.2.0
unidecode==1.4.0
beautifulsoup4>=4.12.0
google-genai==1.19.0
groq==0.29.0